form {
  border: 7.5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: auto;
  width: 30vw;
  padding: 1rem;
}

form input,
label,
select {
  font-size: 1.2rem;
}
.button{
  background-color: rgb(0, 0, 0);
  border: 0;

  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: transform 0.1s linear;
  -webkit-transition: transform 0.1s linear;
  -moz-transition: transform 0.1s linear;
  -ms-transition: transform 0.1s linear;
  -o-transition: transform 0.1s linear;

}
.button:hover{
 background-color: #0c90c1;
}
.button:active{
 transform: scale(0.97);
 -webkit-transform: scale(0.97);
 -moz-transform: scale(0.97);
 -ms-transform: scale(0.97);
 -o-transform: scale(0.97);
}
.button:focus{
 outline: none;
}
